/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.full-background {
  width: 100%;
  height: 100dvh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes fadeWarning {
  0% {
    opacity: 0%;
  } 

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.jumpscare-warning {
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: Consolas,monaco,monospace; 
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeWarning 5s forwards;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.main-menu-container {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 13.5%;
  top: 10%;
}

.main-menu-container > *:last-child {
  margin-bottom: 10px;
}

.main-menu-title {
  color: white;
  text-align: left;
  width: 100%;
  font-size: 20px;
  font-family: Consolas,monaco,monospace; 
}